#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.canvas {
  width: 512px;
  height: 512px;
  text-transform: uppercase;
  display: flex;
  font-size: 22px;
  line-height: 22px;
  position: relative;
}

.strength {
  position: absolute;
  min-width: 50%;

  &.vertical {
    min-height: 50%;
    min-width: unset;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  > div {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  padding: 22px;
  width: 468px;
  height: 468px;

  > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.green {
  color: white;
  background-color: green;
}

.blue {
  color: white;
  background-color: darkblue;
}

.purple {
  color: white;
  background-color: purple;
}

.orange {
  color: black;
  background-color: orange;
}
